img {
	width: 100vw;
}

#wrapper {
    background: #fff;
    width: 25vw;
    float: left;
		margin: 20px;
    }

#wrapper2 {
    background: #fff;
    width: 75vw;
    float: right;
	}
.product-box {
	height: 150px;
	width:300px;
	background: grey;
}

.aside-menu {
    display: inline-block;
    padding-left: 80px;
}

.links{
    display: block;
}

.component-breadcrumb{
    
    display: none;
}

ul.left-nav li {
    padding-left: 0;
    color: #727272;
    padding: 6px 0;
    font-weight: bold;
    text-decoration: none;
    border-top-style: outset;
    border-width: 1px;
    list-style-type: none;
}


ul nav left.nav h1 {
    font-size: 22px;
}

ul nav left.nav h2 {
    font-size: 22px;
}

aside#wrapper {
  
    margin-left:200px;
}



