#container {
	max-width: 1200px;
	margin: 0 auto;
}

html {
    background-color: #f5f5f5;
}
img.header, img.footer {
    width: 100vw;
}
/* Styles of sections: image div and information section. USing Css Grids */
main.subNumber1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f5f5f5;
    margin-left: 15%;
    margin-right: 15%;
}
div.imgBackground {
    background-color: white;
    width: 100%;
    display: grid;
}
img#alpha1 {
    width: 60%;
    justify-self: center;
}
section.information {
    background-color: #d6d6d6;
    border: 1px solid #d6d6d6;
}
/* Styles of divs inside the information css */
section.information h4{
    text-transform: uppercase;
    padding: 3%;
}
div.keyPoints ul {
    background-color: #f5f5f5;
    padding: 5%;
}
/* Styles for downloading marketing material */
div.donwloadMM form {
    padding: 5%;
    background-color: #f5f5f5;
}

div.downloadMM form div {
    background-color: #c9c9c9;
    border: 1px solid #f5f5f5;
}
#wrapper {
    background: #fff;
    width: 25%;
    float: left;}

#wrapper2 {
    background: #fff;
    width: 71.8%;
    margin: 1.6% 0;
    float: right;


	}
.product-box {
 	position: relative;
 	height: 150px;
 	width:300px;
 	background: grey;
 	margin-top: 10px;
 }
 .updated-tag{
 	height: 20px;
 	width: 80px;
 	background: #f49500;
 	float: right;
 	margin-top: 10px;
 	text-align: center;
}
div.search-form label {
	display: inline-block;
	color: #333;
	font-size: 12px;
	line-height: 17px;
	font-weight: normal;
	font-family: "Lucida Grande",Tahoma,Geneva,Verdana,sans-serif;
	box-sizing: border-box;
}
div.search-form label h2{
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: normal;
}

.search-form{
	padding: 20px;
	border: solid 1px #c9c9c9;
}

.search-input {
	width: 65%;
	font-size: 14px;
	height: 30px;
	border: solid 1px #c9c9c9;
	color: #727272;
	padding-left: 5px;
	box-sizing: border-box;
}
.search-input:focus {
	border: solid 1px black;
	outline: none;
}
.search-btn{
	font-family: "Lucida Grande",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: white;
	background-color: #3386c3;
	border: none;
	padding: 6px 12px;
	display: inline-block;
	box-sizing: border-box;
}
.search-btn:hover{
	background-color: #0068b4;
}
.pump-name{
 	float: left;
 	margin-top: 10px;
 }
 i{
 	position: absolute;
 	bottom: 10px;
 	right: 10px;
 }
 .download-button{
 	float: right;
 	margin-right: 40px;
 	margin-top: 10px;
 	padding: 10px 20px;
 	width: auto;
 	border-radius: 25px;
 	background: #11497b;
}
#notification{
	width: 10%;
	color: white;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #3386c3;
	padding: 20px;
	display: none;
}

#notification:hover{
	background-color: #0068b4;
}

#notification a{
	color: white;
	text-decoration: none;
}

#notification h2{
	font-family: "Lucida Grande",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 13px;
    font-weight: bold;
}

#notification p{
	font-family: "Lucida Grande",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
}

#main-heading {
	color: #333;
	line-height: 15px;
	display: block;
	background-color: #dedede;
	border: solid 1px #c9c9c9;
	border-bottom: none;
	padding: 20px;
	font-family: "Lucida Grande",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 13px;
    font-weight: bold;
	box-sizing: border-box;
}
