/* Styling for container that holds everything in place */
#container {
    max-width: 1200px;
    margin: 0 auto;
}

html {
    background-color: #f5f5f5;
}
body{
    font-family: "Lucida Grande", Tahoma, Geneva, Verdana, sans-serif;
}
img.header, img.footer {
    width: 100vw;
}
/* Styles of sections: image div and information section. USing Css Grids */
main.subNumber1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    background-color: #f5f5f5;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20%;
}
div.imgBackground {
    background-color: white;
    width: 100%;
    display: grid;
}
img#alpha1 {
    width: 90%;
    justify-self: center;
    align-self: center;
}
section.information {
    background-color: #d6d6d6;
    border: 2px solid #d6d6d6;
}
/* Styles of divs inside the information css */
section.information h4{
    text-transform: uppercase;
    padding: 3%;
}
/* key points styles */
div.keyPoints ul {
    background-color: #f5f5f5;
    padding: 5%;

}
button.keyDropDown {
    background-color: #d6d6d6;
    width: 100%;
    border: none;
    margin-top: 10px;
}
button.keyDropDown img {
    width: 20px;
    height: 20px;
}
div.hiddenKeys {

}
/* Styles for downloading marketing material */
div.downloadMM {
    padding: 5%;
    display: grid;
    background-color: #f5f5f5;
}

div.donwloadMM form {
    padding: 5%;
    background-color: #f5f5f5;
}
/* Styles for inputs */
input[type=image]{
    width: 12px;
    height: 12px;
    margin-left: 5px;
}
div.downloadMM input[type=checkbox] {background-color: #ffffff;/* color: white; */}
/* End */
div.downloadMM form div {
    background-color: #c9c9c9;
    border: 1px solid #f5f5f5;
}
div.downloadMM form div:nth-child(3){
    clear: both;
}
div.imgDropBox {
    border: none;
    width: 95%;
    float: right;
}
div.downloadMM p {
    padding: 15px 0 15px 0;
}
/* button styles */
button.downloadFiles {
    width: 100%;
    background-color: #3386c3;
    justify-self: center;
    padding: 5px;
}
button.downloadFiles span{
    color: #ffffff;
    text-transform: uppercase;
}
div.emailMe button {
    background-color: #3386c3;
    color: #ffffff;
    width: 80px;
    height: 30px;
    justify-self: center;
    align-self: center;
}
/* EmailMe section styles */
div.emailMe{
    border-top: 2px solid #d6d6d6;
    border-top: px solid #d6d6d6;
    background-color: #f5f5f5;
    overflow: hidden;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
div.emailInput {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 5px 0 5px 0;
}
div.emailInput input {
    align-self: center;
}


/* Add fav section styles */
div.addFav {
    padding: 15px;
    background-color: #f5f5f5;
    border-top: 2px solid #d6d6d6; */
    border-bottom:;
}
div.addFav div{
    background-color:#333333;
    display: grid;
    grid-template-columns: 10fr 1fr;
    padding: 5px;
}
div.addFav p {
    align-self: center;
    margin-left: 10px;
    color:#ffffff;
    text-transform: uppercase;
}
div.addFav img {
    justify-self: end;
}
/* Other styles ---- GUYS! Comments please! */

/* Styling for wrapers that hold aside and main */
#wrapper {
    width: 25%;
    float: left;
}
#wrapper2 {
    
    width: 71.8%;
    margin: 1.6% 0;
    float: right;
}
.product-box {
    position: relative;
    height: 150px;
    width:300px;
    background: grey;
    margin-top: 10px;
}
.updated-tag{
    height: 20px;
    width: 80px;
    background: #f49500;
    float: right;
    margin-top: 10px;
    text-align: center;
}

/* Styling for the popup */
#popup {
	display: none;
	position: fixed;
	width: 400px;
	height: 500px;
	margin-top: -250px;
	margin-left: -200px;
	background-color: red;
	top: 50%;
	left: 50%;
	z-index: 2;
}

/* Styling for overlay that dims the website when popup comes out */
#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 1;
	background-color: black;
}

.product {
	position: relative;
}
.favorite-box, .product-box{
 	position: relative;
 	height: auto;
 	width: 100%;
 	background: white;
    border: 1px solid #c9c9c9;
 }

 #product4 {
    display: none;
}

 .updated-tag{
 	font-size: 0.7em;
 	height: 20px;
 	line-height: 20px;
 	width: 80px;
 	background: #f49500;
 	position: absolute;
    top: 15px;
    right: 0px;
 	text-align: center;
    color: white;
}

/* Styling for buttons */
.btn{
    font-family: "Lucida Grande",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: white;
    background-color: #3386c3;
    border: none;
    padding: 6px 12px;
    display: inline-block;
    box-sizing: border-box;
}
.btn:hover{
    background-color: #0068b4;
}
.remove-btn {
	width: 30px;
	height: 30px;
	position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #dd0028;
    border: none;
}
.remove-btn img {
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
    width: 20px;
    height: 20px;
}
.add-favorite-btn {
	width: 30px;
	height: 30px;
	position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b5d140;
    border: none;
}
.add-favorite-btn img {
	position: absolute;
	left: 0;
	top: 0;
    padding: 5px;
	width: 20px;
	height: 20px;
}
.secondary-btn {
    background-color: #6eb556;
}
.secondary-btn:hover {
    background-color: #4aa22c;
}
.functional-btn {
    background-color: #999999;
}
.functional-btn:hover {
    background-color: #727272;
}

/* Hides delete buttons, when product is not in favourites and cannot be deleted */
#delete-latest-product1, #delete-latest-product2, #delete-latest-product3 {
	display: none;
}

/* Styling for search forms */
div.search-form label {
    display: inline-block;
    color: #333;
    font-size: 12px;
    line-height: 17px;
    font-weight: normal;
    font-family: "Lucida Grande",Tahoma,Geneva,Verdana,sans-serif;
    box-sizing: border-box;
}
div.search-form label h2{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: normal;
}
.search-form{
    padding: 20px;
    border: solid 1px #c9c9c9;
}
.ui-menu-item {
    width: 35%;
    padding: 6px 12px;
    list-style: none;
    color: #727272;
    cursor: pointer;
    background-color: white;
    border: solid 1px #c9c9c9;
    box-sizing: border-box;
}
.ui-menu-item:nth-child(2) {
    border-top: none;
    border-bottom: none;
}
.ui-menu-item:hover {
    background-color: #a4a4a4;
}
.search-input {
    width: 65%;
    font-size: 14px;
    height: 30px;
    border: solid 1px #c9c9c9;
    color: #727272;
    padding-left: 5px;
    box-sizing: border-box;
}
.search-input:focus {
    border: solid 1px black;
    outline: none;
}

.pump-name{
    float: left;
    margin-top: 10px;
}
i{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.download-button{
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    padding: 10px 20px;
    width: auto;
    border-radius: 25px;
    background: #11497b;
 	float: left;
 	margin-top: 10px;
 }
 i{
 	position: absolute;
 	bottom: 10px;
 	right: 10px;
 }
 .download{
 	float: right;
 	margin-top: 10px;
 	padding: 6px 12px;
 	width: auto;
}

/* Styling for the notification box */
#notification{
    width: 10%;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #6eb556;
    padding: 20px;
    display: none;
}
#notification:hover{
    background-color: #4aa22c;
}
#notification a{
    color: white;
    text-decoration: none;
}
#notification h2{
    font-family: "Lucida Grande",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 13px;
    font-weight: bold;
}
#notification p{
    font-family: "Lucida Grande",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
}

/* Styling for page title */
#main-heading {
    color: #333;
    line-height: 15px;
    display: block;
    background-color: #dedede;
    border: solid 1px #c9c9c9;
    border-bottom: none;
    padding: 20px;
    font-family: "Lucida Grande",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 13px;
    font-weight: bold;
	box-sizing: border-box;
	margin-bottom: 0;
}

.section-latest{
    margin-top: 60px;
}

.footer{
    margin-top: 20px;
}

.favorite{
    max-width: 100%;
}

.favorite-row {
	height: auto;
	padding: 20px;
	border-left: solid 1px #c9c9c9;
	border-right: solid 1px #c9c9c9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.favorite img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.latest-purchases {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    height: auto;
    padding: 20px 0;
}
.product-box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aside-menu {
    display: inline-block;
    padding-left: 80px;
}

.component-pagetitle {
    margin: 16px 0 12px 0;
}

section.component-pagetitle {
    display: block;
}

section.component-pagetitle h1 {
    font-size: 22px;
}

.links {
    display: block;
    border-top-style: outset;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: solid 1px #c9c9c9;
}

.links1 {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: solid 1px #c9c9c9;
}



h1 {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 15px;
}

ul.left-nav li  {
	font-size: 13px;
    list-style-type: none;
    line-height: 10px;
    box-sizing: border-box;
    padding-left: 0;
    color: #727272;
    font-weight: 600;
    text-decoration: none;
}

.nav li {
    position: relative;
    display: block;
    
}

.nav{
    margin-bottom: 20px;
    font-family: "Tahoma";
}

li:hover{
    background-color: white;
}
